._open {
    list-style-image: url(../images/status_points/bullet_green.png);
}

._tourist {
    list-style-image: url(../images/status_points/bullet_blue.png);
}

._closed {
    list-style-image: url(../images/status_points/bullet_red.png);
}

._lifted {
    list-style-image: url(../images/status_points/bullet_grey.png);
}

#text {
    width: 518px;
    margin: 0 auto;
    display: block;
}
